<h3>Danh sách văn bản đến</h3>
<div class="khoangcach">
  <a routerLink="create">Thêm mới văn bản đến</a>
</div>
<table class="table table-bordered">
  <tbody>
  <tr *ngFor="let vanBanDen of vanBanDens">
    <td>
      <a [routerLink]="['detail/'+ vanBanDen.id]" style="text-decoration: none">
        <div>
          <h4>Tên văn bản: {{vanBanDen.tenVanBanDen}}</h4>
          <p>Ngày đến: {{vanBanDen.ngayDen | date:'medium'}}</p>
          <p>Nơi phát hành: {{vanBanDen.noiPhatHanh}}</p>
        </div>
      </a>
    </td>
  </tr>
  </tbody>
</table>

